<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载APK</title>
</head>
<body onload="list_files()">
<center><h2>下载apk</h2></center>
<div id="apk_dis"></div>
<script>
    let apks = ("{{ apks }}");
    apks = apks.split(",");
    console.log(apks);
    console.log(typeof(apks));
    function list_files() {
        document.getElementById("apk_dis").innerHTML = "<ol>";
        for (let i = 0; i < apks.length; i++) {
            let single_info = apks[i].split("=");
            console.log("single_info:", single_info);
            console.log("apk:", single_info[0]);
            document.getElementById("apk_dis").innerHTML += "<li>" + single_info[0] + "</li>";
            document.getElementById("apk_dis").innerHTML += "<li>" + "更新时间：" + single_info[1] + "</li>";
            document.getElementById("apk_dis").innerHTML += "<li>" + "安装包体积：" + single_info[2] + "</li>";
            console.log("png:" + "img src=/Users/Administrator/PycharmProjects/Project1/" + single_info[0] + ".png");
            let download_img = "<img src=\"/Users/Administrator/PycharmProjects/Project1/" + single_info[0] + ".png\" width=\"150\" height=\"150\" /> ";
            document.getElementById("apk_dis").innerHTML += download_img
        }
        document.getElementById("apk_dis").innerHTML += "</ol>";

    }
</script>
</body>
</html>